@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        @apply text-gray overflow-x-hidden;
    }
    /* overlay */
    .overlay {
        @apply relative;
    }
    .overlay .overlay-img {
        @apply w-full h-full
    }
    .overlay .overlay-content {
        @apply w-full h-full z-10 absolute top-0 left-0
    }
    /* end of overlay */

    .theme-transition {
        @apply transition-all ease-in-out duration-300;
    }
    .mobile-padding {
        @apply px-5;
    }
    .theme-rounded {
        @apply rounded-md;
    }

    /* buttons */
    .primary-btn {
        @apply bg-primary text-primary-color hover:bg-primary/80 transition-all duration-300 ease-in-out
    }
    .secondary-btn {
        @apply bg-secondary text-secondary-color hover:bg-secondary/80 transition-all duration-300 ease-in-out;
    }
    .gray-btn {
        @apply bg-gray text-gray-color hover:bg-gray/80 transition-all duration-300 ease-in-out;
    }
    /* end of buttons */

    /* buttons sizing */
    .btn-xs {
        @apply p-1;
    }
    .btn-sm {
        @apply px-2 py-1;
    }
    .btn-md {
        @apply px-5 py-2
    }
    .btn-lg {
        @apply px-10 py-3;
    }
    /* end of button sizing */

    .frame {
        @apply block m-auto w-full lg:w-9/12 md:w-10/12;
    }
    .theme-rounded {
        @apply rounded-md
    }

    /* input style */
    .input {
        @apply border border-gray/60 focus:ring-1 focus:ring-primary focus:outline-none outline-none focus:border-primary/50 py-3 px-2 rounded-md;
    }
    /* end of input style */

    .no-outline {
        @apply outline-none;
    }
    .no-border {
        @apply border-none;
    }
}